<% if logged_in? %>
  <script type='text/javascript'>
    window.currentUser = <%= render(
      'api/users/user.json.jbuilder',
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script type='text/javascript'>
  window.phoneURL = '<%= image_url('splash-phone.png') %>'
</script>

<script type='text/javascript'>
  window.phoneAnimationURL = '<%= image_url('splash-phone-animation.mp4') %>'
</script>

<div id='root'>everything is broken</div>