.dashboard-sidebar {
  background-color: rgba(211, 211, 211, 0.116);
  position: fixed;
  height: 86vh;
  width: 280px;
  /* right: 15%; */
  border: 1px solid rgba(128, 128, 128, 0.514);
  border-radius: 5px;
  margin-top: 25px;
  margin-left: 775px;
  /* padding: 5px; */
  box-sizing: border-box;
  display: block;
  flex-direction: column;
}

.share-index-component {
  width: 100%;
  min-height: 60px;
}

.share-index-title {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.514);
}

.share-index-title h3 {
  font-weight: 600;
  font-size: 17px;
}

.spinner {
  /* margin: 0 auto; */
  color: limegreen;
}