.dashboard-sidebar {
  background-color: rgba(211, 211, 211, 0.116);
  position: fixed;
  height: 86vh;
  width: 280px;
  /* right: 15%; */
  border: 1px solid rgba(128, 128, 128, 0.514);
  border-radius: 5px;
  margin-top: 25px;
  margin-left: 775px;
  /* padding: 5px; */
  box-sizing: border-box;
  display: block;
  flex-direction: column;
}

.share-index-component {
  width: 100%;
  min-height: 60px;
}

.share-index-title {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.514);
}

.share-index-title h3 {
  font-weight: 600;
  font-size: 17px;
}

.spinner {
  color: limegreen;
  text-align: center;
  padding-top: 16px;
}

.share-index-list {
  display: flex;
  flex-direction: column;
}

.share-index-item {
  width: 100%;
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.514);
  justify-content: space-between;
  font-size: 14px;
  /* z-index: 2; */
}

/* .sb-chart {
  z-index: 1;
} */



.share-index-item:hover {
  background-color: rgba(211, 211, 211, 0.151);
}

.share-btn-left h4 {
  margin: 0;
  font-weight: 600;
}

.green {
  color: limegreen;
}

.red {
  color: red;
}

.dashboard-watchlist-form-component {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.514);
  min-height: 56px;
}