.login {
  display: flex;
}

.login h3 {
  font-weight: 500;
  font-size: 27px;
}

.login-left {
  height: 100vh;
  width: 50%;
  z-index: 1;
}

.login-left img {
  width: auto;
  height: 100%;
}

.login-right {
  width: 50%;
  background-color: white;
  z-index: 2;
  padding-left: 40px;
}

.login-right section {
  width: 400px;
  margin-top: 300px;
}

.login-right form {
  height: 200px;
}

.login-right label {
  font-size: 14px;
}

.login-right input {
  margin-top: 10px;
}

.login-right p {
  position: absolute;
  bottom: 10px;
  font-size: 10px;
}

.login button {
  height: 50px;
  width: 150px;
  font-weight: 600;
  color: white;
  background-color: limegreen;
  line-height: 50px;
  text-align: center;
  border-radius: 6px;
  /* margin-top: 30px; */
}

.login-errors {
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}