.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: rgb(12, 12, 12);
  height: 48px;
}

.navbar-left {
  margin-left: 40px;
  font-size: 25px;
  color: white;
}

.navbar-left div:hover {
  color: limegreen;
}

.navbar-center {
  width: 700px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: -310px;
}

.search-bar {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  height: 64px;
}

.search-icon {
  width: 16px;
  display: inline-block;
  z-index: 2;
  position: relative;
  color: rgba(211, 211, 211, 0.61);
  left: 16px;
  top: 21px;
}

.search-bar input {
  width: 400px;
  padding: 7px 15px 7px 40px;
  /* background-color: rgba(0, 0, 0, 0.960); */
  border: 1px solid rgb(75, 75, 75);
  border-radius: 5px;
  z-index: 1;
  margin-top: -5px;
}

.search-bar input:focus {
  background-color: rgb(31, 31, 31);
}

.search-bar input:hover {
  background-color: rgb(31, 31, 31);
}

.navbar-right {
  color: white;
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.navbar-right button {
  font-size: 15px;
  font-weight: 600;
}

.navbar-right button:hover {
  color: limegreen;
}

.search-results {
  min-height: 60px;
  width: 455px;
  z-index: 10;
  position: absolute;
  background-color: rgb(31, 31, 31);
  color: white;
  top: 43px;
  border-right: 1px solid rgb(75, 75, 75);
  border-bottom: 1px solid rgb(75, 75, 75);
  border-left: 1px solid rgb(75, 75, 75);
  border-radius: 0 0 5px 5px;
  padding-bottom: 20px;
}

/* .search-results-ul {
  display: flex;
  flex-direction: column;
} */

.search-result-item {
  margin-left: 25px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 600;
}
/* 
.search-hover {
  display: flex;
  align-items: flex-start;
} */

/* 
.search-hover:hover {
  background-color: rgb(75, 75, 75);
  padding: 1px 0;
  box-sizing: content-box;
  margin: 0;
} */

.search-result-link {
  display: flex;
  align-items: flex-start;
  padding: 7px 0 7px 24px;
  margin-left: -24px;
  margin-bottom: -15px;
  background-color: rgb(31, 31, 31);
}

.search-result-link:hover {
  background-color: rgba(211, 211, 211, 0.151);
}

.search-result-item div {
  display: inline-block;
}

.search-result-item div:first-of-type {
  width: 70px;
}

.search-title {
  color: rgb(116, 115, 115);
  margin: 15px 0 10px 24px;
  font-size: 17px;
}

.search-match {
  display: inline-block;
}

.search-leftover {
  display: inline-block;
  margin-right: 15px;
}

.search-error {
  margin: 30px 0 10px 25px;
  font-size: 14px;
  font-weight: 600;
}