.signup {
  display: flex;
}

.signup-left {
  width: 60%;
  padding: 60px;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
}

.signup-left h2 {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 70px;
}

.signup-left h3 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0;
}

.signup-left h4 {
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 40px;
}

.signup-left form {
  margin: 0 auto;
}

.signup input, .login input {
  width: 100%;
  background-color: rgba(211, 211, 211, 0.151);
  padding: 10px 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(211, 211, 211, 0.315);
  border-radius: 5px;
}

.signup input:focus {
  border: 1px solid limegreen;
  background-color: white;
}

/* .password-error {
  border: 1px solid red;
} */

.signup input:hover, .login input:hover {
  background-color: white;
}

.name-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.name-inputs input {
  width: 48%;
  margin-bottom: 0;
}

.signup-submit-div {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  align-items: center;
  margin-bottom: 10px;
}

.signup-submit-div div {
  margin-left: 20px;
  font-size: 14px;
  color: limegreen;
}

.signup-left p {
  color: lightgray;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 13px;
}

.signup-submit-div p {
  color: black;
  margin: 0;
  font-size: 14px;
}

.signup-submit {
  height: 50px;
  width: 150px;
  font-weight: 600;
  color: white;
  background-color: limegreen;
  line-height: 50px;
  text-align: center;
  border-radius: 6px;
}

.signup-submit:hover {
  background-color: rgb(43, 177, 43);
}

.signup-right {
  width: 40%;
  padding-top: 160px;
  padding-right: 90px;
  background-color: rgba(211, 211, 211, 0.315);
}

.signup-right div {
  padding: 20px;
  width: 250px;
}

.signup-right h4 {
  margin-top: 40px;
  margin-bottom: 10px;
}

.signup-errors {
  margin-top: 30px;
  margin-bottom: 20px;
  color: red;
}
