.splash-nav-bar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  line-height: 70px;
}

.splash-nav-left {
  width: 600px;
  display: flex;
  align-items: center;
}

.splash-nav-bar h1 {
  font-size: 25px;
  /* font-weight: 600; */
  padding-left: 25px;
}

.splash-nav-bar h3 {
  font-weight: 400;
  padding-left: 80px;
}

.session-links {
  display: flex;
  width: 250px;
  justify-content: space-around;
  padding-right: 20px;
  font-size: 20px;
  align-items: center;
}

.login-link {
  font-weight: 600;
}

.login-link:hover {
  color: limegreen
}

.nav-signup-link {
  height: 50px;
  width: 150px;
  font-weight: 600;
  background-color: limegreen;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
}

.nav-signup-link:hover {
  background-color: rgb(43, 177, 43);
}

.splash-main {
  width: 100%;
  box-shadow: inset 0 5px 6px -6px grey;
  height: 650px;
  background-color: #B8F839;
  border-bottom: 1px solid black;
  position: relative;
}

.splash-main-info-col-1-2 {
  width: 50%;
}

.splash-main-text {
  display: flex;
  flex-direction: column;
  width: 470px;
  height: 330px;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-around;
  top: 25%;
  left: 7%;
  position: absolute;
}

.splash-main-text h1 {
  font-size: 55px;
  line-height: 55px;
}

.splash-main-text p {
  font-size: 25px;
  line-height: 35px;
}

.main-signup-link {
  height: 50px;
  width: 150px;
  font-weight: 600;
  color: white;
  background-color: black;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
}

.main-signup-link:hover {
  background-color: rgba(0, 0, 0, 0.788);
}

.splash-main-info-col-1-2 {
  width: 50%;
}