.watchlist-sidebar {
  background-color: rgb(31, 31, 31);
  position: fixed;
  height: fit-content;
  height: 86vh;
  width: 280px;
  border: 1px solid rgba(128, 128, 128, 0.514);
  border-radius: 5px;
  margin-top: 25px;
  margin-left: 775px;
  box-sizing: border-box;
  display: block;
  flex-direction: column;
}

.watchlist-form-component {
  display: flex;
  justify-content: space-between;
  padding-left: 23px;
  padding-right: 25px;
  border-top: 1px solid rgba(128, 128, 128, 0.514);
  border-bottom: 1px solid rgba(128, 128, 128, 0.514);
  min-height: 56px;
}