.watchlist-body {
  background-color: rgb(12, 12, 12);
}

.watchlist {
  background-color: rgb(12, 12, 12);
  color: white;
  display: flex;
  justify-content: space-around;
  width: 1100px;
  margin: 0 auto;
}

.watchlist-left {
  display: block;
  background-color: rgb(12, 12, 12);
  color: white;
  padding-bottom: 15vh;
  height: 100vh;
  margin-right: 295px;
  width: 700px;
}

.watchlist-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.watchlist-main {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 675px;
  margin-top: 50px;
  padding-top: 15px;
  position: relative;
}

.watchlist-main h1 {
  font-size: 24px;
  font-weight: 600;
}

.watchlist-length {
  color: rgba(211, 211, 211, 0.61);
  font-size: 14px;
  margin-top: 8px;
}

.watchlist-index {
  margin-top: 50px;
}


.watchlist-index-item, .watchlist-index-header {
  width: 675px;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.514);
  padding: 0 2px 0 2px;
  box-sizing: border-box;
}

.header-name, 
  .header-symbol, 
  .header-price, 
  .header-today, 
  .header-mktcap {
  height: 100%;
  font-size: 14px;
  margin-right: 20px;
}

.header-name:hover, 
  .header-symbol:hover, 
  .header-price:hover, 
  .header-today:hover, 
  .header-mktcap:hover {
  color: limegreen;
}

.watchlist-index-header {
  color: rgba(211, 211, 211, 0.61);
  height: 50px;
}

.header-name {
  width: 230px;
}

.quote-name {
  width: 250px;
}

.header-symbol, .header-price, .header-today {
  width: 80px;
}

.quote-symbol, .quote-price, .quote-today {
  width: 100px;
}

.quote-mktcap, .header-mktcap {
  width: 80px;
}

.watchlist-index-item:hover {
  background-color: rgba(211, 211, 211, 0.151);
  width: 711px;
  position: relative;
  left: -18px;
  border-bottom: none;
  border-radius: 5px;
}

.watchlist-index-item:hover .quote-name {
  padding-left: 18px;
  margin-right: 18px;
}

